@import '../../colors';
@import '../../mixins/responsive';

.copyright {
    font-size: 13px;
    font-weight: 200;

    display: none;

    transition: 200ms;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: @tablet) {
        display: inline-block;
    }

    &:hover {
        color: @main-color;
    }
}