@import '../../mixins/clearfix';
@import '../../mixins/responsive';
@import '../../colors';

.navigation {
    .clearfix;

    font-size: 9px;

    float: right;


    background: @main-color;

    @media screen and (min-width: @tablet) {
        font-size: 18px;

        width: 100%;
    }

    @media screen and (min-width: @desktop) {
        width: initial;
        margin-top: 43px;
        padding-left: 2em;

        box-shadow: -5px -5px 0 fadeout(@main-color, 50%),
        -10px -10px 0 fadeout(@main-color, 50%);
    }

    .navigation__icon {
        margin-right: 0.5em;
    }

    .navigation__link {
        float: left;

        padding: 1.15em 1em;

        transition: 100ms;
        text-decoration: none;
        text-transform: uppercase;

        color: darken(@main-color, 20%);
        border-right: 1px solid fadeout(darken(@main-color, 20%), 50%);

        &:first-child {
            @media screen and (max-width: @mobile) {
                padding-left: 2em;
            }
        }

        @media (min-width: @tablet) {
            padding: 0.6em 1em;
        }

        &:last-child {
            border: none;
        }
        &:hover {
            color: #000000;
        }
    }
}
