@import '../../mixins/container';
@import '../../colors';

.navigation {
    float: right;

    margin-top: 40px;
    padding-left: 2em;

    background: @main-color;
    box-shadow: -5px -5px 0 fadeout(@main-color, 50%),
    -10px -10px 0 fadeout(@main-color, 50%);

    &::after {
        display: table;
        clear: both;

        content: '';
    }

    &__link {
        font-size: 18px;

        float: left;

        padding: 0.6em 1em;

        text-transform: uppercase;

        color: darken(@main-color, 20%);
        border-right: 1px solid fadeout(darken(@main-color, 20%), 50%);
        &:last-child {
            border: none;
        }
    }
}


