@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('icomoon.eot?xrbdt2');
    src: url('icomoon.eot?xrbdt2#iefix') format('embedded-opentype'),
    url('icomoon.ttf?xrbdt2') format('truetype'),
    url('icomoon.woff?xrbdt2') format('woff'),
    url('icomoon.svg?xrbdt2#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before
{
    content: '\e903';
}
.icon-leaf:before
{
    content: '\e904';
}
.icon-plane:before
{
    content: '\e905';
}
.icon-mail:before
{
    content: '\e901';
}
.icon-user:before
{
    content: '\e971';
}
.icon-wrench:before
{
    content: '\e991';
}
.icon-twitter:before
{
    content: '\ea96';
}
