@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?tbtprb');
  src:  url('icomoon.eot?tbtprb#iefix') format('embedded-opentype'),
    url('icomoon.ttf?tbtprb') format('truetype'),
    url('icomoon.woff?tbtprb') format('woff'),
    url('icomoon.svg?tbtprb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
  content: "\e900";
}
.icon-travel:before {
  content: "\e900";
}
.icon-plane:before {
  content: "\e900";
}
.icon-mail-envelope-closed:before {
  content: "\e901";
}
.icon-cloud-download:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e971";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-twitter:before {
  content: "\ea96";
}
