@import '../../mixins/container';
@import '../../colors';

.offers {
    padding: 40px 0 100px;

    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOElEQVQoU2P08fH5z4AGfv/+DRZhZWVlYHR3d0dRABIkTQFBK0AKkI1Edw8jugKYYphC0hWgWwEArBMtA7ocHTgAAAAASUVORK5CYII=');

    .offers__container {
        .container;
    }

    .offers__devices {
        float: left;

        width: 577px;
        min-height: 300px;

        background: url('images/devices.png') no-repeat bottom;
        background-size: contain;
    }
    .offers__special-offer {
        font-size: 15px;
        font-weight: bold;

        display: table-cell;

        min-width: 120px;
        height: 120px;

        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

        color: white;
        border-radius: 50%;
        background: #f3c306;
    }
    .offers__link {
        font-size: 24px;
        font-weight: 200;

        padding-top: 1em;

        color: #a9a9a9;
    }

    .offers__list {
        float: right;
        width: 350px;
    }

    .offers__list-element {
        font-size: 40px;
        color: @main-color;
        list-style: disc outside;

    }



    .offers__title {
        font-size: 42px;

        padding-bottom: 10px;

        text-align: center;
        text-transform: uppercase;

        color: #f3c306;
    }
}