@import '../../mixins/container';
@import '../../colors';

.offers {
    width: 100%;
    padding: 40px 0 100px;

    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOElEQVQoU2P08fH5z4AGfv/+DRZhZWVlYHR3d0dRABIkTQFBK0AKkI1Edw8jugKYYphC0hWgWwEArBMtA7ocHTgAAAAASUVORK5CYII=');
    display: table;



    .offers__container {
        .container;
        display: table;
    }
    .offers__content-box {
        display: table-row;
    }

    .offers__devices {
        display: table-cell;
        position: relative;

        width: 577px;
        min-height: 300px;
        padding-left: 18px;
        vertical-align: top;
        background-size: contain;
    }
    .offers__devices-label {
        position: absolute;
        top: -42px;
        left: 0;


        font-size: 15px;
        font-weight: bold;

        display: table-cell;

        width: 115px;
        height: 115px;

        padding-top: 50px;
        box-sizing: border-box;

        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

        color: white;
        border-radius: 50%;
        background: @main-color;
    }
    .offers__link {
        font-size: 24px;
        font-weight: 200;
        vertical-align: bottom;

        color: #a9a9a9;
    }

    .offers__list {
        display: table-cell;
        vertical-align: bottom;
        width: 310px;
    }

    .offers__list-element {
        font-size: 40px;
        line-height: 0.68em;
        padding-top: 0.5em;

        color: @main-color;
        list-style: disc outside;
        &:last-child {
            margin-bottom: -6px;
        }
    }



    .offers__title {
        font-size: 42px;

        padding-bottom: 55px;

        text-align: center;
        text-transform: uppercase;

        color: @main-color;
    }
}