@import '../../mixins/responsive';

.download-item {
    &__icon {

        font-size: 36px;

        @media(min-width: @tablet) {
            font-size: 97px;
        }

        text-align: center;

        color: #f3c306;
    }
    &__link {

        font-size: 11px;

        @media(min-width: @tablet) {
            font-size: 27px;
        }


        font-weight: 200;

        display: block;

        padding: 5px;

        text-align: center;
        text-transform: uppercase;
    }
}