
.download-item {
    &__icon {
        font-size: 95px;

        text-align: center;

        color: #f3c306;
    }
    &__link {
        font-size: 27px;

        display: block;

        padding: 5px;

        text-align: center;
        text-transform: uppercase;
    }
}