.logo {
    box-sizing: border-box;

    text-decoration: none;

    color: white;
    background-size: contain;
    font-size: 42px;

    .logo__text {
        font-size: 1em;
        font-weight: 400;
        font-style: italic;

        display: inline-block;
    }
    .logo__image {
        height: 2em;
        width: auto;
        margin-bottom: -0.5em;
    }

    &--small {
        font-size: 28px;
    }
}