@import '../../colors';
@import '../../mixins/responsive';

.logo {
    font-size: 42px;

    display: inline-block;

    text-decoration: none;

    color: #ffffff;
    background-size: contain;

    @media(max-width: @mobile) {
        font-size: 10px;

        box-sizing: border-box;
        width: 29%;
        padding: 5px 0 5px 5px;

        background-color: gray;
    }

    .logo__text {
        font-size: 1em;
        font-weight: 400;
        font-style: italic;

        display: inline-block;

        padding-top: 0.6em;

        transition: 200ms;
        vertical-align: baseline;
    }
    .logo__image {
        display: inline-block;
        float: left;

        width: auto;
        max-height: 2em;

        vertical-align: middle;
    }

    &.logo--small {
        font-size: 28px;
        @media(max-width: @mobile) {
            font-size: 8px;

            background: transparent;
        }
    }
    &:hover {
        color: @main-color;
    }
}