@import '../../colors';
@import '../../mixins/responsive';

.logo {
    font-size: 10px;

    display: inline-block;

    box-sizing: border-box;
    padding: 5px 0 5px 5px;

    text-decoration: none;

    color: #ffffff;

    @media screen and (min-width: @tablet) {
        font-size: 42px;

        width: auto;

        background: none;
    }

    .logo__text {
        font-size: 1em;
        font-weight: 400;
        font-style: italic;

        display: inline-block;

        padding-top: 0.6em;

        transition: 200ms;
        vertical-align: baseline;
    }
    .logo__image {
        display: inline-block;
        float: left;

        width: auto;
        max-height: 2em;

        vertical-align: middle;
    }

    &.logo--small {
        font-size: 8px;

        @media screen and (min-width: @tablet) {
            font-size: 28px;
        }
    }
    &:hover {
        color: @main-color;
    }
}