@import "../../mixins/container";


.header {
    padding: 33px 0 81px;

    background: url('images/header_background.jpg') no-repeat;
    background-size: 100% auto;
    &__navigation {
        .container;
        margin-bottom: 50px;
    }
}