@import '../../mixins/container';


.header {
    background: url('images/header_background.jpg') no-repeat;
    background-size: cover;

    @media screen and (min-width: @desktop) {
        padding: 28px 0 65px;
    }

    .header__navigation {
        .container;
        background: linear-gradient(0, #444444, #5a5a5a 30px);

        @media screen and (min-width: @tablet) {
            background: none;
        }

        @media screen and (min-width: @desktop) {
            margin-bottom: 55px;
        }
    }
}