.slider {

  display: table-row;
  &__container {
    display: table-cell;
    min-width: 1020px;
    margin: 0 auto;
  }

  &__item {
    height: 320px;
    min-width: 540px;
    float: left; /*для того чтобы не заполняло всю ширину*/
    background: rgba(243, 195, 6, 0.5);
  }

  &__title {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    & span {
      color: #f3c306;
    }
  }

  &__previous {
    display: table-cell;
    opacity: 0;
    width: 50%;
    text-align: left;
    vertical-align: middle;
    transition: 100ms;
    &:hover {
      color: white;
      background: rgba(243, 195, 6, 0.1);
    }
  }

  &__next {
    opacity: 0;
    display: table-cell;
    width: 50%;
    text-align: right;
    vertical-align: middle;
    &:hover {
      background: rgba(243, 195, 6, 0.1);
    }
  }

  &__button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #f3c306;
    padding: 0.5em;
  }

  &::after {
    display: table;
    content: '';
    clear: both;
  }
}