@import '../../mixins/container';
@import '../../mixins/clearfix';
@import '../../colors';


.timeline {
    padding: 0 0 165px;

    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAIAAAAzED4bAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABWSURBVFhH7c6hEQAgDMBA9ukcjI9iFAQWj8u1oiJ3b+Iyzooqd88qbhFuEW4RbhFuEW4RbhFuEW4RXbe+zvguM9wi3CLcItwi3CLcItwi3CLcIlpurXiciYly4V3GzwAAAABJRU5ErkJggg==');

    .timeline__content-box {
        .container;

        height: 232px;
    }

    .timeline__title {
        font-size: 36px;

        .container;
        padding: 1em 0 1.1em;

        text-transform: uppercase;

        color: #ffffff;
    }

    .timeline__video-block {
        width: 655px;
        height: 100%;

        background: #ec9e04;
    }
    .timeline__video-player {
        float: right;

        width: 315px;
        height: 100%;
    }
    .timeline__video-text {
        font-size: 30px;
        font-weight: 200;
        line-height: 1.28em;

        position: relative;

        overflow: hidden;
        text-overflow: clip;

        box-sizing: border-box;
        height: 100%;
        padding: 15px 30px;

        color: #ffffff;
    }

    .timeline__add-link {
        font-size: 24px;
        font-weight: bold;
        line-height: normal;

        position: absolute;
        right: 8px;
        bottom: 5px;

        color: #ffffff;
    }

    .timeline__counter {
        font-size: 24px;
        font-weight: 200;
        line-height: normal;

        position: absolute;
        right: 20px;
        top: 12px;

        color: #ffffff;
    }

    .timeline__social {

        position: relative;

        float: right;

        width: 330px;
        height: 100%;

        text-align: center;


        background: #ec9e04;
    }

    .timeline__social-icon {
        font-size: 165px;
        line-height: 1.5em;
        color: #c18000;
    }
}